#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.jumbotron{
    height: 450px;
    padding-bottom: 2rem;

    & img{
        width: 100%;
        object-fit: cover;
        object-position: top;
        height:100%
    }
}
